<div class="page }}">
  <a name="Top" id="Top"></a>
  <header id="header" class="header" role="header">
    <div class="container top">
    
  <div class="region region-header">
    <div id="block-rusa-branding" class="block block-system block-system-branding-block">
  
    
    <div class="col-xs-8 col-sm-2 col-md-2">
    <span class="site-logo">
      <a href="/">
        <img src="/themes/rusa/logo.png" alt="Home page image">
      </a>
    </span>
  </div>

  <div class="hidden-xs col-sm-6 col-md-10">
    <span class="site-title">
      <h1 class="title">Randonneurs USA</h1>
    </span>
  </div>

  <div class="col-xs-4 col-sm-4">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-inner">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</div>

  </div> 
    </div>
  </header>

  <section id="main" class="main" role="main">
    <a id="main-content"></a>
    <div class="container">
      <div class="row">

      <h2>The RUSA website is offline for maintenance.</h2>
      <h3>We are performing a system upgrade. When the site is back online you won't notice anything different.</h3>
      <h3>The site will be back online at 11:00 PM PDT</h3>
      <h3>Thanks for your patience</h3>
      <img src="themes/rusa/images/maintenance.png" width="400" />
      <p><strong>Note:</strong> If you are still seeing this page after 11:00 try clearing your browser cache.</p>

  {% if page.footer %}
  <footer id="footer" class="footer" role="contentinfo">
    <div class="container footer">
	  <a href="/report-issue">Contact us</a> with any questions, comments, or problem reports.<br>
	  © Copyright {{ "now"|date("Y") }}, Randonneurs USA, except as noted otherwise.
    </div>
  </footer>
  {% endif %}
</div>
